html {
  --color-border: rgb(0, 0, 0);
  --color-background: rgb(255, 255, 255);
  --color-tab: #ccc;
  --color-text: #000;
  --color-line: #000;
  --font: Lato, sans-serif;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font);
}
.main-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 4px;
  flex-wrap: nowrap;
}
.timetable-container {
  max-width: 1280px;
  width: 100%;
}
.info-container {
  margin-bottom: 50px;
  padding-top: 559px;
}
.matsedel-container {
  background-color: var(--color-tab);
  padding: 3px;
  border-radius: 4px;
  text-align: center;
}
.user-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-top: 11px;
}
.input-container {
  display: flex;
  align-items: center;
}
.input-field {
  padding: 8px;
  border: none;
  border-radius: 0;
  width: 100%;
  max-width: 160px;
  color: var(--color-text);
  background-color: var(--color-tab);
}
.button-container {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0;
  height: 35px;
  width: fit-content;
}

.button:disabled {
  background-color: #6c757d;
  color: #ddd;
  cursor: not-allowed;
  opacity: 0.65;
}
.button:last-child {
  border-radius: 0 4px 4px 0;
}
.dark {
  background-color: #484848;
}
